<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <link rel="stylesheet" href="/assets/style.css">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){

            namespace = '/test'; // change to an empty string to use the global namespace
            var ctx = document.getElementById("myChart").getContext("2d");
            var ctx2 = document.getElementById("humidity").getContext("2d");
            var data = {
             labels: [],
            datasets: [
            {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: []
                    }
                ]
            };

            var myLineChart = new Chart(ctx).Line(data);
            var humidityChart = new Chart(ctx2).Line(data);
            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('my response', function(msg) {
                if(msg.temperature){
                        myLineChart.addData([msg.temperature], msg.count);
                        myLineChart.update();
                 }
                 if(msg.humidity){
                    humidityChart.addData([msg.humidity], msg.count);
                    humidityChart.update();
                 }
                // $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.temperature + msg.humidity).html());
            });

            // event handler for new connections
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            // handlers for the different forms in the page
            // these send data to the server in a variety of ways

        });
    </script>
</head>
<body>
    <h1>Sensor data by socket</h1>
    <h2>Receive:</h2>
    <div class="temperature">
            <canvas id="myChart" width="981" height="438"></canvas>
    </div>
    <div class="humidity">
            <canvas id="humidity" width="981" height="438"></canvas>
    </div>
    <div id="log"></div>
</body>
<footer>
    <script src="assets/chartjs/Chart.js"></script>
</footer>

</html>
